<body>
<div *ngIf="quiz">
  <h1>{{ quiz.title }}</h1>
</div>
<div class="quiz-container">
  <form (ngSubmit)="submitQuiz()" #quizForm="ngForm">
    <div *ngFor="let question of quiz?.questions" class="question-block">
      <div class="question-title">{{ question.questionText }}</div>

      <!-- SingleAnswerQuestion -->
      <div *ngIf="question.questionType === 'SingleAnswerQuestion'">
        <label class="answer-option" *ngFor="let answer of question.answers">
          <input
            type="radio"
            name="question-{{ question.questionId }}"
            [value]="answer.answerText"
            [(ngModel)]="userAnswers[question.questionId]"
            required
          />
          <span>{{ answer.answerText }}</span>
        </label>
      </div>

      <!-- MultipleAnswerQuestion -->
      <div *ngIf="question.questionType === 'MultipleAnswerQuestion'">
        <label class="answer-option" *ngFor="let answer of question.answers">
          <input
            type="checkbox"
            name="question-{{ question.questionId }}"
            [value]="answer.answerText"
            (change)="toggleMultiAnswer(question.questionId, answer.answerText, $event)"
          />
          <span>{{ answer.answerText }}</span>
        </label>
      </div>

      <!-- UserInputQuestion -->
      <div *ngIf="question.questionType === 'UserInputQuestion'">
        <input
          type="text"
          [(ngModel)]="userAnswers[question.questionId]"
          name="question-{{ question.questionId }}"
          required
        />
      </div>
    </div>

    <button type="submit" class="submit-button">Abschicken</button>
  </form>

</div>

</body>
