<div class="stats-page">

  <div class="stats-actions" *ngIf="!showQuizStats && !showMyStats">
    <button class="primary-btn" (click)="showQuizResults()">
      Statistik meiner Quizze anzeigen
    </button>

    <button class="secondary-btn" (click)="showMyResults()">
      Meine Statistiken anzeigen
    </button>
  </div>

  <div *ngIf="showQuizStats" class="stats-section">
    <h2>Statistiken meiner erstellten Quizze</h2>

    <div *ngFor="let quiz of groupedQuizzes" class="chart-card">
      <div
        [id]="'chart-' + quiz.quizId"
        class="chart-container"
      ></div>
    </div>
  </div>

  <div *ngIf="showMyStats" class="stats-section">
    <h2>Meine Quiz-Statistiken</h2>

    <div *ngFor="let quiz of groupedQuizzes" class="chart-card">
      <div
        [id]="'chart-' + quiz.quizId"
        class="chart-container"
      ></div>
    </div>
  </div>

</div>
