<body>
<div id="main">
  <h1>Quiz-Homepage</h1>

  <!-- Freunde-Bereich -->
  <div class="friends-section" *ngIf="showFriends">
    <h2>Deine Freunde</h2>
    <div class="friends-list">
      <div class="friend" *ngFor="let f of friends">
        {{ f.username }}
      </div>
      <div class="add-stuff">
        +
      </div>
    </div>
    <h2>Meine Quizze</h2>
    <div class="friends-list">
      <div class="friend" *ngFor="let q of myQuizzes">
        <button (click)="openMyQuiz(q)">
          {{ q.title }}
        </button>
      </div>
      <div class="add-stuff">
        +
      </div>
    </div>
    <h2>Quizze meiner Freunde</h2>
    <div class="friends-list">
      <div class="friend" *ngFor="let f of receivedQuizzes">
        <button (click)="openTheirQuiz(f)">
          {{ f.title }}
        </button>
      </div>
      <div class="add-stuff">
        +
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <!--<div class="button-group">
    <button routerLink="/quizzes/create">Quiz erstellen</button>
    <button routerLink="/quizzes">Quizzes durchsuchen</button>
    <button routerLink="/quizzes/my">Meine Quizzes</button>
    <button (click)="loadStats()">Statistiken</button>
  </div>
</-->

  <!-- Logout-Bereich -->
  <!--<div class="logout">
    Eingeloggt als<br>
    <strong>{{ user.username }}</strong><br>
    <a routerLink="/login" style="color: #eee;">Abmelden</a>
  </div>-->
</div>
</body>
