<body>
<div id="main">

  <h1>Quiz-Homepage</h1>

  <div class="friends-section" *ngIf="showFriends">

    <!-- MEINE FREUNDE -->
    <h2 class="clickable" (click)="seeAllFriends()">Meine Freunde</h2>

    <div class="friends-list">
      <div class="friend" *ngFor="let f of friends">
        <button (click)="openFriends(f.id)">
          {{ f.username }}
        </button>
      </div>

      <div class="add-stuff" (click)="openFriendPage()">
        +
        <span class="badge" *ngIf="friendRequestCount > 0">
          {{ friendRequestCount }}
        </span>
      </div>
    </div>

    <!-- MEINE QUIZZE -->
    <h2 class="clickable" (click)="seeAllMyQuizzes()">Meine Quizze</h2>

    <div class="friends-list">
      <div class="friend" *ngFor="let q of myQuizzes">

        <button (click)="openMyQuiz(q)">
          {{ q.title }}
        </button>

        <div class="rating" *ngIf="getRatingForQuiz(q.id) !== null">
          ★ {{ getRatingForQuiz(q.id) | number:'1.1-1' }} / 5
        </div>

        <div class="rating no-rating" *ngIf="getRatingForQuiz(q.id) === null">
          0 ★
        </div>

      </div>

      <div class="add-stuff" (click)="openAddQuiz()">
        +
      </div>
    </div>

    <!-- QUIZZE MEINER FREUNDE -->
    <h2 class="clickable" (click)="seeAllMyQuizzes()">Quizze meiner Freunde</h2>

    <div class="friends-list">
      <div class="friend" *ngFor="let f of receivedQuizzes">
        <button (click)="openTheirQuiz(f)">
          {{ f.title }}
        </button>
      </div>
    </div>

  </div>

</div>
</body>
