<body>
<div id="main">

  <h1>Quiz-Homepage</h1>

  <div class="friends-section" *ngIf="showFriends">

    <h2 class="clickable" (click)="seeAllFriends()">Meine Freunde</h2>

    <div class="friends-list">
      <div class="friend" *ngFor="let f of friends">
        <button (click)="openFriends(f.id)">
          {{ f.username }}
        </button>
      </div>

      <div class="add-stuff" (click)="openFriendPage()">
        +
        <span class="badge" *ngIf="friendRequestCount > 0">
            {{ friendRequestCount }}
          </span>
      </div>
    </div>

    <h2 class="clickable" (click)="seeAllMyQuizzes()">Meine Quizze</h2>

    <div class="friends-list">

      <div class="friend quiz-card" *ngFor="let q of myQuizzes">
        <button (click)="openMyQuiz(q)" class="quiz-button">
            <span class="quiz-title">
              {{ q.title }}
            </span>

          <span
            class="quiz-rating"
            [class.no-rating]="getRatingForQuiz(q.id) === null"
          >
              ★ {{ getRatingForQuiz(q.id) ?? 0 | number:'1.1-1' }}
            </span>
        </button>
      </div>

      <div class="add-stuff" (click)="openAddQuiz()">
        +
      </div>

    </div>

    <h2 class="clickable" (click)="seeAllSentQuizzes()">Quizze meiner Freunde</h2>

    <div class="friends-list">

      <div class="friend quiz-card" *ngFor="let f of receivedQuizzes">
        <button (click)="openTheirQuiz(f)" class="quiz-button">

      <span class="quiz-title">
        {{ f.title }}
      </span>

        </button>
      </div>

    </div>

  </div>

</div>
</body>
