
<body>
<div class="add-form">
  <h2>Freund hinzufügen</h2>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" method="post">
    <input type="text" name="username" [(ngModel)]="friend"  placeholder="Nutzername eingeben" required>
    <button type="submit">Anfrage senden</button>
  </form>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="sender">
      <th mat-header-cell *matHeaderCellDef> Freundschaftsanfragen </th>
      <td mat-cell *matCellDef="let friendRequest"> {{friendRequest.sender}} </td>
    </ng-container>

    <ng-container matColumnDef="accept">
      <th mat-header-cell *matHeaderCellDef>Akzeptieren</th>
      <td mat-cell *matCellDef="let i = index">
      <a href="javascript:void(0)" class="accept-text" (click)="accept(i)">
        ✔
      </a>
      </td>
    </ng-container>

      <ng-container matColumnDef="decline">
        <th mat-header-cell *matHeaderCellDef>Ablehnen</th>
        <td mat-cell *matCellDef="let i = index">
        <a href="javascript:void(0)" class="accept-text" (click)="decline(i)">
          ✘
        </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</body>

