ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  font-family: 'Arial', sans-serif;
}

ul li a {
  display: block;
  color: #2f2f2f;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #b791df;
}
