ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  display: flex;
  font-family: 'Arial', sans-serif;
}

ul li a {
  display: block;
  color: #9f07ef;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
