<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Quiz erstellen</title>
  <link rel="stylesheet" href="/css/create_quiz.css">

</head>
<body>
<div class="quiz-container">
  <h1>Quiz erstellen</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" method="post">
    <label for="title">Titel:</label>
    <input type="text" id="title" [(ngModel)]="formData.title" [ngModelOptions]="{standalone: true}" required placeholder="Titel"/>

    <label for="category">Kategorie:</label>
    <select id="category" [(ngModel)]="formData.category" [ngModelOptions]="{standalone: true}" required>
      <option value="" disabled selected>Kategorie wählen</option>
      <option value="Mathematik">Mathematik</option>
      <option value="Deutsch">Deutsch</option>
      <option value="Englisch">Englisch</option>
      <option value="Biologie">Biologie</option>
      <option value="Chemie">Chemie</option>
      <option value="Physik">Physik</option>
      <option value="Informatik">Informatik</option>
      <option value="Geographie">Geographie</option>
      <option value="Geschichte">Geschichte</option>
      <option value="Politik">Politik</option>
    </select>

    <label for="description">Beschreibung:</label>
    <textarea id="description" [(ngModel)]="formData.description" [ngModelOptions]="{standalone: true}" placeholder="Beschreibung"></textarea>

    <button type="submit">Fortfahren</button>
  </form>

  <a>← zurück zur Übersicht</a>

</div>
</body>
</html>
