<div class="quiz-container">
  <h1>Quiz "{{ quiz?.title }}" bearbeiten</h1>

  <form method="post" (ngSubmit)="onSubmit()">

    <div *ngFor="let question of formData; let qi = index" class="question-block">
      <label>Frage:</label>
      <input type="text"
             [(ngModel)]="question.questionName"
             name="question{{qi}}"
             placeholder="{{question.questionName}}">

      <button type="button" class="remove-question-btn" (click)="removeQuestion(qi)">
        Frage löschen
      </button>

      <label>Antwortmöglichkeiten:</label>
      <div *ngFor=" of question.answers; let ai = index" class="answer-option">
        <input type="text"
               [(ngModel)]="question.answers[ai].text"
               name="question{{qi}}answer{{ai}}"
               placeholder="{{question.answers[ai].text}}">

        <input type="checkbox"
               [(ngModel)]="question.answers[ai].correct"
               name="question{{qi}}correct{{ai}}" />

        <button type="button" (click)="removeAnswer(qi, ai)">X</button>
      </div>

      <button type="button" (click)="addAnswer(qi)">Antwort hinzufügen</button>

      <br><br>
    </div>

    <button type="button" (click)="addQuestion()">Frage hinzufügen</button>
    <button type="submit" (click)="saveEdits()">Änderungen speichern</button>
    <button type="button" (click)="cancel()">Abbrechen</button>

  </form>

  <a>← zurück zur Übersicht</a>
</div>



<p>yolo</p>
