<div class="friend-profile">

  <!-- Name + Action -->
  <div class="profile-main" *ngIf="friend">
    <h1 class="friend-name">{{ friend.username }}</h1>
    <button class="danger-btn" (click)="deleteFriend()">Entfreunden</button>
  </div>

  <!-- Shared quizzes -->
  <div class="shared-quizzes">
    <h3>Geteilte Quizze</h3>

    <div class="quiz-list">
      <div class="quiz-card" *ngFor="let quiz of friend.receivedQuizzes">
        <button (click)="openTheirQuiz(quiz)">
          {{ quiz.title }}
        </button>
      </div>
    </div>
  </div>

  <button (click)="console.log(friend)">Friend</button>

</div>
