<div class="quiz-page" *ngIf="quiz">

  <div class="quiz-header">
    <h1>{{ quiz.title }}</h1>

    <div class="actions" *ngIf="quiz && currentUser && quiz.author.id === currentUser.id">
      <button (click)="shareMyQuiz()" [disabled]="!selectedFriend">
        Teilen
      </button>

      <select [(ngModel)]="selectedFriend">
        <option [ngValue]="undefined">– Freund auswählen –</option>
        <option *ngFor="let f of friends" [ngValue]="f">
          {{ f.username }}
        </option>
      </select>

      <button (click)="editMyQuiz()">Bearbeiten</button>
      <button (click)="deleteMyQuiz()">Löschen</button>
    </div>
  </div>

  <div class="questions">
    <div *ngFor="let q of quiz.questions; let qi = index">
      <h3>Frage {{ qi + 1 }}: {{ q.questionText }}</h3>

      <div class="answers">
        <label *ngFor="let ans of q.answers">
          <input type="radio"/>
          <span class="answer-text">{{ans.answerText}}</span>
        </label>
      </div>
    </div>
  </div>

  <div class="solve-wrapper">
    <button class="solve-btn">Lösen</button>
  </div>

</div>



